/*--------------------------------------*/
/* beginner so going with this approach but should query for every bit of issue site has at different screens(sizes).*/
/*--------------------------------------*/

/*--------------------------------------*/
/* small phones 0 to 480px. less or equal to 480px*/
/*--------------------------------------*/

@media only screen and (max-width:480px){
  section{
    padding:5px 0px;
  }
  .contact-form{
    width:100% !important;
  }
}

/*--------------------------------------*/
/* all phones smaller than a tablet: 481px to 767px*/
/*--------------------------------------*/

@media only screen and (max-width:767px) {
  body {
    font-size: 16px !important;
  }
  section {
    padding: 30px 0px !important;
  }
  .row, .hero-text-box {
    padding: 0 4%;
  }
  .col {
    width: 100%;
    margin:0 0 4% 0% !important;
  }

  .main-nav {
    display: none;
  }

  .long-para {
    width: 100% !important;
    margin-left: 0% !important;
  }

  h1 {
    font-size: 180% !important;
  }
  h2 {
    font-size: 130% !important;
  }

  .works-step {
    margin-bottom: 20px !important;
  }
  .works-step:last-of-type {
    margin-bottom: 20px;
  }

  .works-step {
    margin-bottom: 50px;

    div {
      height: 40px !important;
      width: 40px !important;
      padding: 4px !important;
      margin-right: 15px !important;
      font-size:120% !important;
    }
  }
  .steps-box{
    &:first-child {
      text-align: center !important;
    }
  }

  .app-screen{
    width:40% !important;
  }

  .mobile-nav-icon{
    display:inline-block !important;
  }

  .main-nav{
    float:left !important;
  }

  .main-nav li{
    display:block !important;
  }

  .main-nav li a:link,
  .main-nav li a:visited{
    display:block !important;
    border:0;
  }
}
  /*--------------------------------------*/
  /* small tablet to big tablet: 768px  to 1023px*/
  /*--------------------------------------*/

  @media only screen and (max-width: 1023px) {
    body {
      font-size: 18px;
    }
    section {
      padding: 60px 0px;
    }

    .long-para {
      width: 80% !important;
      margin-left: 10% !important;
    }

    .steps-box {
      margin-top: 10px !important;
      &:last-child {
        margin-top: 10px !important;
      }
    }

    .works-step {
      margin-bottom: 40px;
    }
    .works-step:last-of-type {
      margin-bottom: 60px;
    }

    .app-screen {
      width: 50% !important;
    }

    .btn-app img {
      margin-right: 6px;
    }

    .icon-small {
      width: 20px !important;
      margin-right: 5px;
    }

    .city-feature {
      font-size: 90%;
    }

    .plan-box {
      width: 100% !important;
      margin-left: 0% !important;
    }

    .plan-price {
      font-size: 250% !important;
    }
    .section-plans .plan-box div ul li {
      font-size: 84%;
    }

    .contact-form {
      width: 80% !important;
    }

    footer li {
      margin-right: 10px !important;
    }
  }

  /*--------------------------------------*/
  /* big tablets to 1200px(made row width to 1140px, keeping the margins with spaces as created)
  /*--------------------------------------*/
  @media only screen and (max-width: 1200px) {
    .hero-text-box {
      width: 100%;
      padding: 0 2%;
    }

    .row {
      padding: 0 2%;
    }
  }
